@import '../../../styles/variables.scss';

.xt-button {
  padding: 8px 16px;
  border-radius: var(--xt-border-radius-small);
  font-size: var(--xt-font-size-small);
  border: 1px solid var(--xt-border-color, #dcdfe6);
  transition: all 0.3s;
  background-color: var(--xt-bg-color, #ffffff);
  color: var(--xt-text-color-primary, #303133);
  &-primary{
    background-color: var(--xt-color-primary, #ffffff);
    border-color: var(--xt-color-primary, #ffffff);
    color: var(--xt-color-white, #ffffff);
  }
  &-success{
    background-color: var(--xt-color-success, #ffffff);
    border-color: var(--xt-color-success, #ffffff);
    color: var(--xt-color-white, #ffffff);
  }
  &-warning{
    background-color: var(--xt-color-warning, #ffffff);
    border-color: var(--xt-color-warning, #ffffff);
    color: var(--xt-color-white, #ffffff);
  }
  &-danger{
    background-color: var(--xt-color-danger, #ffffff);
    border-color: var(--xt-color-danger, #ffffff);
    color: var(--xt-color-white, #ffffff);
  }
  &-info{
    background-color: var(--xt-color-info, #ffffff);
    border-color: var(--xt-color-info, #ffffff);
    color: var(--xt-color-white, #ffffff);
  }
  
  &.is-square{
    padding: 12px;
    border-radius: 0;
  }

  &:hover {
    opacity: 0.8;
  }
}


/* mini size - 字体大小 12px */
.xt-button-mini {
  padding: 2px 4px;
  font-size: var(--xt-font-size-mini);
}

/* small size - 字体大小 14px */
.xt-button-small {
  padding: 5px 10px;
  font-size:var(--xt-font-size-small);
}

/* medium size - 字体大小 16px */
.xt-button-medium {
  padding: 8px 16px;
  font-size: var(--xt-font-size-medium);
}

/* large size - 字体大小 18px */
.xt-button-large {
  padding: 11px 22px;
  font-size: var(--xt-font-size-large);
}
