$xt-border-radius-base: 4px;                 // 基准圆角
$xt-border-radius-small: 2px;                // 小圆角
$xt-border-radius-round: 20px;               // 圆角（胶囊状）
$xt-border-radius-circle: 50%;               // 圆形