$xt-color-border: #DCDFE6;                   // 边框颜色 - 标准
$xt-color-border-light: #E4E7ED;             // 边框浅色
$xt-color-border-lighter: #EBEEF5;          // 边框更浅色
$xt-color-border-extra-light: #F2F6FC;      // 边框极浅色