$xt-font-size-extra-large: 20px;             // 特大字体基础值
$xt-font-size-large: 18px;                   // 大字体基础值
$xt-font-size-medium: 16px;                  // 中等字体基础值
$xt-font-size-base: 14px;                    // 基准字体 - Element UI 默认
$xt-font-size-small: 13px;                   // 小字体基础值
$xt-font-size-extra-small: 12px;             // 特小字体基础值

$xt-font-size-increment-extra-small: -2px;   // 特小尺寸增量
$xt-font-size-increment-small: -1px;          // 小尺寸增量
$xt-font-size-increment-base: 0px;            // 基准尺寸增量
$xt-font-size-increment-medium: 2px;          // 中尺寸增量
$xt-font-size-increment-large: 4px;           // 大尺寸增量
$xt-font-size-increment-extra-large: 6px;     // 特大尺寸增量