$xt-spacing-xs: 4px;                         // 最小间距
$xt-spacing-sm: 8px;                         // 小间距
$xt-spacing-md: 12px;                        // 中间距
$xt-spacing-lg: 16px;                        // 大间距
$xt-spacing-xl: 20px;                        // 特大间距